# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build
/dist



# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db
